@font-face{font-family:HNC-Heavy;src:url("/wp-content/themes/os_theme/fonts/HNC-Heavy.ttf");font-style:normal;font-weight:800;}
@font-face{font-family:HNC-Heavy !important;}
@font-face{font-family:HNC-Bold;src:url("/wp-content/themes/os_theme/fonts/HNC-Bold.ttf");font-style:normal;font-weight:800;}
@font-face{font-family:HNC-Bold !important;}
@font-face{font-family:HNC-Roman;src:url("/wp-content/themes/os_theme/fonts/HNC-Roman.ttf");font-style:normal;font-weight:normal;}
@font-face{font-family:HNC-Roman !important;}
@font-face{font-family:HNC-Light;src:url("/wp-content/themes/os_theme/fonts/HNC-Light.ttf");font-style:normal;font-weight:normal;}
@font-face{font-family:HNC-Light !important;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;margin:auto;}
.wp-caption{}
.wp-caption-text{}
.gallery-caption{}
.screen-reader-text{}
.sticky{}
.bypostauthor{}
.jumbotron{background-position:center;}
body, .animLeft, .animTop, .animBottom{opacity:0;}
body{font-family:HNC-Roman!important;}
body .block-copyright{font-family:HNC-Light!important;}
input.qty{line-height:32px;}
body table{font-size:14px;}
body table tr{border-bottom:1px solid rgba(0,0,0,.1);}
body.rest{background:#fff!important;}
h3.h1, span.h1 {font-size:2rem!important;}
.text-black{color:#000!important;}
.block-nav.fixed-top{box-shadow:0 5px 10px #000;}
.block-nav.fixed-top img{max-height:50px;width:auto;}
.block-top, .asoc-f{line-height:35px;}
.block-top p{margin:0;}
.block-top a{transition:0.5s all ease;}
.fa-mobile{font-size:35px!important;margin-right:15px;}
.asoc{display:block;float:left;height:35px;width:35px;text-align:center;border:1px solid #fff;border-radius:5px;color:#fff;margin-left:15px;}
.asoc-f{display:block;float:left;height:35px;width:35px;text-align:center;border:1px solid #fff;border-radius:5px;color:#fff;margin-right:15px;}
.asoc:hover, .asoc-f:hover{color:#abcdff;border-color:#abcdff;}
.wardrobe, .house{padding-left:45px;background-position:center left;background-repeat:no-repeat;display:inline-block;margin-left:15px;color:#fff;}
.wardrobe:hover, .house:hover{color:#ffa6a6;text-decoration:none;}
.wardrobe{background-image:url('images/wardrobe.png');}
.house{background-image:url('images/home.png');}
.col-xl-10{max-width:1300px!important;}
.bg-black-trans{background-color:rgba(0,0,0,0.5);}
.bg-sran{background-color:#1f1f1f;}
.font-weight-bold{font-family:HNC-Heavy!important;}
.strong{font-family:HNC-Bold!important;}
.block-nav .navbar-dark .navbar-nav .nav-link{color:#fff;}
.preim>div{background-repeat:no-repeat;background-position:0 6px;padding-left:100px;}
.preim>div:nth-of-type(1){background-image:url('images/oplata.png');}
.preim>div:nth-of-type(2){background-image:url('images/vozvrat.png');}
.preim>div:nth-of-type(3){background-image:url('images/dostavka.png');}
.navbar-brand{max-width:50%;}
.navbar-brand img{width:100%;}
.block-contacts ul{list-style:none;margin:0;padding:0;margin-bottom:1rem;}
.block-contacts a{color:#fff;}
.scrlBtn{position:fixed;opacity:0.8;display:none;cursor:pointer;border-radius:50%;border:3px solid #fff;box-shadow:0 0 5px #000;z-index:9999;min-height:62px;min-width:62px;right:20px;background-color:rgba(0,0,0,0.9);background-repeat:no-repeat;background-position:center center;color:red;}
.scrlBtn:hover{border-color:#000;}
#scrollup{border-color:red;background-color:rgba(255,255,255,0.1);}
ul.product-categories a, .woocommerce>nav a, .woocommerce-product-search button{color:#000!important;border:1px solid;padding:5px 15px;margin-bottom:5px;display:block;width:100%;}
ul.product-categories a:hover, a.selected.in,.woocommerce>nav a:hover, .woocommerce>nav li.is-active a ,.woocommerce-product-search button:hover{text-decoration:none;background:rgba(0,0,0,0.5);}
.woocommerce-product-search button {padding:5px;cursor:pointer;}
ul.product-categories .children a{border:1px solid;padding:2px 15px;margin-bottom:5px;display:block;width:100%;}
ul.product-categories, ul.product-categories ul{padding:0;margin:0;list-style:none;cursor:pointer;    clear: both;}
ul.product-categories ul{margin:0 5px;display:none;}
.tab-content{min-height:240px;}
.woocommerce>nav ul, .tab-content ul{list-style:none;margin:0;padding:0;}
.woocommerce>nav li, .tab-content ul{margin-bottom:10px;}
.woocommerce>nav a, .tab-content a{width:100%;display:block;color:#fff;transition:0.5s all ease;padding:3px 15px;}
.woocommerce-Input{border-radius:5px;padding:3px 15px;}
#nav-tabContent a{color:#b1b1b1;}
#nav-tabContent a:hover{color:#fff;}
.block-main-sidebar .nav-tabs .nav-link, li.reviews_tab{padding-bottom:27px;margin-bottom:-13.8px;border:none;color:#b1b1b1;}
.block-main-sidebar .nav-tabs .nav-link:hover{color:#fff!important;}
.woocommerce-breadcrumb, .woocommerce-breadcrumb a{color:#000!important;}
.block-main-sidebar .nav-tabs .nav-item.show .nav-link,.block-main-sidebar .nav-tabs .nav-link.active{background:url('/wp-content/uploads/2018/07/romb.png') center bottom no-repeat;border:none;color:#fff;}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active{background:transparent;}
li.product{background:#fff;border-color:#fff!important;padding:15px!important;text-align:center;border:2px solid;transition:0.5s all ease;}
li.product:hover{border-color:#000!important;}
.price{color:blue;}
.woocommerce ul.products li.product .button{width:100%;}
span.onsale{margin:-2px -2px 0 0!important;border-radius:0!important;background-color:red!important;}
li.product .woocommerce-loop-product__title{color:#000;min-height:45px;}
li.product{font-size:14px!important;}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce button.button.alt, .woocommerce a.button.alt{color:#000!important;border:1px solid;transition:0.5s all ease;border-radius:0!important;}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce button.button.alt:hover,.woocommerce a.button.alt:hover, .tinvwl_add_to_wishlist_button:hover{background-color:rgba(0,0,0,0.5);}
/*table.tinvwl-table-manage-list{border-radius:5px;border:1px solid rgba(0,0,0,.1);}*/
.product-remove button{padding:0!important;background:transparent!important;color:red!important;cursor:pointer;}
.product-remove button:hover{background:red!important;color:#fff!important;;}
a.tinvwl_add_to_wishlist_button{width:100%;display:block;background:#000;padding:.618em 1em;border:1px solid;box-sizing:border-box;line-height:1;transition:0.5s all ease;}
.single .tinv-wraper{float:left;}
.single .summary .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button{margin-left:5px;margin-top:0!important;}
.tinvwl_add_to_wishlist-text{color:#fff!important;}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{margin-bottom:30px!important;}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{opacity:0!important;}
.related .tinv-wraper{width:100%;display:block;}
.social-buttons a{color:#000!important;}
#wcj-country{margin-left:15px;width:150px;box-sizing:border-box;padding:7px;border:1px solid #fff;background:transparent;color:#fff;border-radius:5px;}
#wcj-country option{color:#000;}
#house{bottom:236px;background-image:url('images/home.png');}
#cart{bottom:164px;background-image:url('images/cart.png');}
#wardrobe{bottom:92px;background-image:url('images/wardrobe.png');}
#scrollup{bottom:20px;text-align:center;padding:10px 13px 15px;font-size:30px;line-height:30px;}
.woocommerce-billing-fields__field-wrapper .form-row .select2-selection, .woocommerce-input-wrapper, .woocommerce-billing-fields__field-wrapper .form-row label{width:100%;}
.woocommerce .form-row .input-text{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #000;border-radius:0;box-sizing:border-box;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.woocommerce .form-row textarea.input-text{min-height:200px;}
.woocommerce-billing-fields__field-wrapper .form-row{width:100%!important;}
section{clear:both;}
.select2-container--default .select2-selection--single{border:1px solid #000;border-radius:0;}
.product_meta{clear:both;padding-top:15px;}
.woocommerce-form__label-for-checkbox {margin-left:15px;}
.woocommerce-product-search button, .woocommerce-product-search input {width:30%!important;float:left;}
.woocommerce-product-search input{padding: 5px 15px;width:69%!important;margin:0;margin-bottom:15px;margin-right:1%;float:left;border: 1px solid #1f2534!important;box-sizing:border-box;}
.woocommerce-cart table.cart img {width:100%;}
.tinv-wishlist .product-thumbnail {width:auto;max-width:300px!important;}
.form-control {margin-bottom:10px;}
@media (min-width:1601px){}
@media (max-width:1600px){}
@media (min-width:991px){}
@media (max-width:991px){}
@media (min-width:767px){}
@media (max-width:767px){
	.block-top .container>div.float-left:nth-of-type(4) {width:100%;clear:both;}
	.navbar-brand img{width:100%!important;} 
	.woocommerce-page table.cart .product-thumbnail {display:block;}
	.product-thumbnail:before {content:""!important;}
#wcj-country{width:100%;margin-left:0;margin-top:5px;}
	.tinv-wishlist .product-thumbnail {max-width:400px!important;}
	.tinv-wishlist .product-thumbnail img {width:100%;max-width:100%;}
	h3.h1, span.h1 {font-size:1.5rem!important;}
}
@media (max-width:320px){}
body.fadeIn{animation-delay:0.5s;animation-duration:0.5s;}
.fadeIn{animation-name:fadeIn;-webkit-animation-name:fadeIn;animation-fill-mode:forwards;}
.fadeInLeft{animation-delay:0.8s;animation-duration:0.8s;animation-name:fadeInLeft;-webkit-animation-name:fadeInLeft;animation-fill-mode:forwards;}
.fadeInRight{animation-name:fadeInRight;-webkit-animation-name:fadeInRight;animation-fill-mode:forwards;}
.fadeInTop{animation-delay:1s;animation-duration:1s;animation-name:fadeInTop;-webkit-animation-name:fadeInTop;animation-fill-mode:forwards;}
.fadeInBottom{animation-delay:1s;animation-duration:1s;animation-name:fadeInBottom;-webkit-animation-name:fadeInBottom;animation-fill-mode:forwards;}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInBottom{0%{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInBottom{0%{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInTop{0%{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInTop{0%{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
100%{opacity:1;-webkit-transform:none;transform:none;}
}